.obsido {
    text-align: center;
    /* display: inline; */
    /* position: relative; */
    font: 50px Helvetica, Sans-Serif;
	letter-spacing: -1px;
	color: rgba(88, 158, 238, 0.5); 
}

.login{
    background: url("./coin.jpeg") no-repeat center center fixed ;
    filter: grayscale(40%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ui.raised.segment.login-modal{
    opacity:0.97 ;
}

.ui.raised.segment.sign-up-modal{
    opacity:0.97 ;
}

.sign-up{
    background: url("./coin.jpeg") no-repeat center center fixed ;
    filter: grayscale(40%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.obsido:after {
	content: "Obsido";
	position: absolute; left: 680px; top: 40px;
	color: rgba(58, 192, 185, 0.315);   
}


.main-chart-container {
    /* display: flex; */
    /* flex-wrap: wrap; */
    margin: auto;
    max-width: 1700px;
    max-height: 1700px;
    /* border: 5px solid red; */
}

.main-chart-container-chart {
    /* border: 5px solid green; */
    width: 900px;
    margin: 0;
    /* float: left; */
    padding: 30px;   
    /* flex-grow: 2; */
    /* justify-content: flex-start; */

    /* previous CSS */

    /* width: 850px;
    margin: 0;
    float: left;
    padding: 50px; */
}

.main-chart-container-form {
    /* border: 5px solid green; */
    /* text-align: center; */
    /* height: 100px; */
    /* width: 300px; */
    /* margin: 0; */
    /* float: right;     */
    padding-bottom: 50px;
    padding-left: 180px;
    /* flex-grow: 1; */
    /* justify-content: flex-end; */


    /* Previous CSS */

    /* height: 100px;
    width: 300px;
    margin: 0;
    float: right;    
    padding-top: 50px; */
    
}

.food-chart-container-form {

    padding-bottom: 80px;
    padding-left: 180px;

}

.bills-chart-container-form {

    padding-bottom: 80px;
    padding-left: 180px;

}

.shopping-chart-container-form {

    padding-bottom: 80px;
    padding-left: 180px;

}

.misc-chart-container-form {

    padding-bottom: 80px;
    padding-left: 180px;

}

.cryptos-chart-container-form {

    padding-bottom: 80px;
    padding-left: 180px;

}

.stock-chart-container-form {

    padding-bottom: 80px;
    padding-left: 180px;

}

.log.ui.raised.segment {
    box-sizing: border-box;
    text-align: center;
}

.log.ui.celled.striped.padded.table {
    text-align: center;
}

input[type="radio"]{
    margin: 0 10px 0 10px;
  }